{% extends 'base.html' %}
{% block title %}
    Расисание дежурств
{% endblock %}
{% block content %}


<style>

    td {
        border-style: none;
    }
</style>
    <div class="container-fluid">
        <div class="row">
            <div id="calendar" class="d-none d-md-flex col-md-4 col-lg-8 p-3"></div>
            <div class="col-md-8 col-lg-4">

                <div class="login d-flex py-3">
                    <div class="container">
                           {% include 'includes/comments.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
        document.addEventListener('DOMContentLoaded', function() {
          var calendarEl = document.getElementById('calendar');
          var calendar = new FullCalendar.Calendar(calendarEl, {

                locale: "ru",
                firstDay: 1,
                height: "100",
                initialView: "dayGridMonth",


                headerToolbar: {
                  left: 'prev,next today',
                  center: 'title',
                  right: 'dayGridMonth,timeGridDay'
                },
                events : [
                {% for event in events %}
                    {
                    title : '{{event.title_name}}',
                    start : '{{event.date}}',
                    },
                {% endfor %}
                ]
  });
          calendar.render();
        });
</script>

{% endblock content %}